<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067737640867-li5p56ue5upq5ksfm88kqr41hk9qls8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067737640867-li5p56ue5upq5ksfm88kqr41hk9qls8r</string>
	<key>API_KEY</key>
	<string>AIzaSyAw-HNhEOiBDCaWhIW98RNLgz7zAf00Lks</string>
	<key>GCM_SENDER_ID</key>
	<string>1067737640867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.retaal.academy</string>
	<key>PROJECT_ID</key>
	<string>mobile-erp-a6e89</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-erp-a6e89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067737640867:ios:af47779c96cc7f835b7416</string>
</dict>
</plist>